/* Empty. Add your own CSS if you like */
label.toggle.toggle-energized {
    margin-top: 20px;
}
p#valueRead:active {
    color: yellow;
}
#nameDevice{
  font-size: 15px;
  font-weight: bold;
  line-height: 2px;
  padding-bottom: 8px;
}
#nameAmbiente{
  font-size: 13px;
  line-height: 10px;
}
#valueRead{
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  line-height: 30px;
}
#unid{
  font-size: 70px;
}
#barTopFrame{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 6px #000;
  height: 36px;
}
.frameConfig{
  width: auto;
  color: white;
  margin: 20px;
  background-color: rgba(29, 64, 102, 0.9);
  box-shadow: 5px 5px 12px #000;
}
.iconAlign{
  text-align: right;
  line-height: 58px;
  margin: 0px;
}
.iconPadding{
  padding-right: 10px;
}
.iconSize{
  max-height: 20px;
}
.nameAlign{
  padding-top: 10px;
}
.sizeImg{
  max-height: 50px;
  margin-top: 15px;
}
.sizeImgStatusCon{
  max-height: 15px;
}
.footer{
  text-align: right;
  font-style: italic;
  color: white;
  font-size: 10px;
  margin-bottom: 2px;
}
p{
  margin: 0;
}
