<ion-view view-title="Login">
  <ion-content>
    <div class="list">
      <button class="button button-positive">Faça login com sua conta do Facebook</button>
      <button class="button button-assertive">Faça login com sua conta do Google+</button>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="••••••••">
      </label>
      <button class="button button-dark">Entrar</button>
      <p>ou</p>
      <button class="button button-clear button-stable">crie uma conta agora mesmo!</button>
    </div>
  </ion-content>
</ion-view>
