<ion-view view-title="Login" hide-back-button="true" hide-nav-bar="true" cache-view="false" nav-transition="none">
  <ion-content  class="padding">
    <div class="spacer" style="width: auto; height: 145px;"></div>

    <div class="list">
      <div class="padding">
        <button class="button button-block button-positive" ng-click="facebookBtn()">Faça login com sua conta do Facebook</button>
        <button class="button button-block button-assertive" ng-click="googleBtn()">Faça login com sua conta do Google+</button>
      </div>

      <div class="padding">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="E-mail" ng-model="email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Senha" ng-model="password">
          </label>
          <a href="#"><p style="text-align:right;">Esqueci minha senha</p></a>
        </div>
      </div>


      <div class="padding">
        <button class="button button-block button-balanced  button-outline" ng-click="signInEmail(email,password)">Entrar</button>
        <button class="button button-block button-clear button-positive" ng-click="goToSignup()">crie uma conta agora mesmo!</button>
      </div>

    </div>
  </ion-content>
</ion-view>
