<ion-view view-title="Redefinir Senha" hide-back-button="true" hide-nav-bar="true" cache-view="false" nav-transition="none">
  <ion-content class="padding">

    <div class="spacer" style="width: auto; height: 200px;"></div>

    <div class="padding">
      <div class="list">

        <label class="item item-input">
          <input type="text" placeholder="E-mail" ng-model="email">
        </label>

      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-positive  button-outline" ng-click="passRedefine(email)">Redefinir Senha</button>
      <button class="button button-block button-clear button-assertive" ng-click="goToLogin()">Cancelar</button>
    </div>

  </ion-content>
</ion-view>
