<ion-view view-title="Perfil">
  <ion-content class="padding">

    <img src="img/user.png" style="width:150px;">

    <div class="card">
      <div class="item item-divider item-icon-right">
        <i class="icon ion-edit"></i>
        Pessoal
      </div>
      <h1>Nome do Usuário</h1>
      <h5>KEY-USER:JSHFYEISLAMNCVBD</h5>
      <h5>Nível: admin</h5>
      <p>Email: email@email.com</p>
      <p>Senha: ••••••••</p>
    </div>

    <div class="list card">

      <div class="item item-divider item-icon-right">
        <i class="icon ion-plus"></i>
        Moradores
      </div>

      <a class="item item-avatar" href="#">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSN9AwKpLLiC0Gyq_-NTMKNSOJe_2N3qr08WmSlTfpZ68gHdUNT">
        <h2>Nome do Usuário</h2>
        <h5>KEY-USER:ZWIRUDFYDJSNCVXB</h5>
        <p>Email do usuário</p>
        <p>Nível de usuário: 1</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTGIhsgOg8v0G6sKe9CPsZWv3EKs6snQx6OmvEyyLvV2WTAS3d_uQ">
        <h2>Nome do Usuário</h2>
        <h5>KEY-USER:RIEORPLKJDFGVBEM</h5>
        <p>Email do usuário</p>
        <p>Nível de usuário: 1</p>
      </a>

    </div>

    <div class="list card">
      <div class="item item-divider item-icon-right">
        <i class="icon ion-plus"></i>
        Casa
      </div>

      <a class="item item-avatar" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_SMbs2rWcEyMBOE2K0MYfFEfwHuWMAj-EhkzDh3wxLFU7ohjQbw">
        <h2>Nome do Imóvel</h2>
        <h5>KEY_HOUSE:KJHASDFUIYASDKHK</h5>
        <p>End: Rua um dois três, n. 123</p>
        <p>Cidade: São Paulo-SP</p>
        <p>CEP: 00000-000</p>
      </a>

    </div>


  </ion-content>
</ion-view>
