<ion-view view-title="Signup" hide-back-button="true" hide-nav-bar="true" cache-view="false" nav-transition="none">
  <ion-content class="padding">

    <div class="spacer" style="width: auto; height: 200px;"></div>

    <div class="padding">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Nome" ng-model="name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="E-mail" ng-model="email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Senha" ng-model="password">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Digite novamente a senha" ng-model="re_password">
        </label>
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-positive  button-outline" ng-click="createUser(name,email,password,re_password)">Cadastrar-se</button>
      <button class="button button-block button-clear button-assertive" ng-click="goToLogin()">Cancelar</button>
    </div>

  </ion-content>
</ion-view>
