<ion-view view-title="Signup">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="••••••••">
      </label>
      <button class="button button-positive">Salvar</button>
    </div>
  </ion-content>
</ion-view>
