<ion-view view-title="Signup" hide-back-button="true" hide-nav-bar="true" cache-view="false" nav-transition="none">
  <ion-content padding="true">

    <div class="spacer" style="width: auto; height: 200px;"></div>

    <div class="padding">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="E-mail">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Senha">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Digite novamente a senha">
        </label>
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-positive  button-outline">Cadastrar-se</button>
      <button class="button button-block button-clear button-assertive">Cancelar</button>
    </div>

  </ion-content>
</ion-view>
