<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Scene Tab -->
  <!-- <ion-tab title="Cenários" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/scene">
    <ion-nav-view name="scene"></ion-nav-view>
  </ion-tab> -->

  <!-- Profile Tab -->
  <ion-tab title="Perfil" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>

  <!-- Mail Tab -->
  <ion-tab title="Mensagens" icon-off="ion-email" icon-on="ion-email" href="#/tab/notifications">
    <ion-nav-view name="notifications"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <!-- <ion-tab title="Congiguração" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
